@keyframes AnimPer{
    0%{
      background-color: blue;
    }
    25%{
        background-color: rgb(255, 0, 0);
    }
    50%{

        background-color: rgb(255, 247, 0);
    }
    75%{
        background-color: rgb(43, 255, 0);
    }
    100%{
        background-color: blue;
    }
  }

  @keyframes CaroAn{
    0%{
      background-image: url(/Start/Images/Music/OIP.jpg);
      transition: background-image 1s;
      width: 474px;
      height:450px;
    }
    50%{
      background-image: url(/Start/Images/Music/OIP1.jpg);
      transition: background-image 1s;
      width: 474px;
      height:450px;
    }
    75%{
      background-image: url(/Start/Images/Music/OIP2.jpg);
      transition: background-image 1s;
      width: 474px;
      height:450px;
    }
    100%{
      background-image: url(/Start/Images/Music/OIP3.jpg);
      transition: background-image 1s;
      width: 474px;
      height:450px;
    }
}

.car{
  width: 474px;
  height:450px;
  color: rgba(255, 0, 0, 0); 
  z-index: -1;
  animation-name: CaroAn;
  animation-duration:  13.5s;
  animation-iteration-count: infinite;

}

.anim{

  
  color: rgba(255, 0, 0, 0); 
  animation-name: CaroAn;
  animation-duration:  13.5s;
  animation-iteration-count: infinite;

}
.Buto{
 width:100px;
 height: 25px;
 background: red;
 transition: background-color 5s, width 5s;

}
.Buto:hover{
  width:200px;
  background-color: aqua;
}





  p{
    animation-name: AnimPer;
    animation-duration:  13.5s;
    animation-fill-mode: forwards; 
  }
  body{
    animation-name: AnimPer;
    animation-duration:  13.5s;
    animation-fill-mode: forwards; 

  }
  

  @keyframes BackTwo{
    0%{
      transform: scale(1,1.5);
    }
    25%{
      transform: scale(-0.5,1.5);
    }
    50%{

      transform: scale(-1,1.5);
    }
    75%{
        transform: scale(-0.5,1.5);
    }
    100%{
      transform: scale(1,1.5);
    }
  }

  @keyframes Pspec{
    0%{transform: rotateY(40deg);
      perspective: 500px;
    }
    25%{}
    50%{
      transform: rotateY(-50deg);
      perspective: 1000px;
    }
    75%{}
    100%{
      transform: rotateY(40deg);
      perspective: 500px;
    }

}



.cont{
  /* width: 120px;
  height: 120px;  */
  /* border: 1px solid lightgray; */
  width: 150px;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  transform-style: preserve-3d;
  perspective: 2000px;
 
  /* transform: matrix(0.4, 0, 0, 1.2, 60, 10); */

    /* animation-name: BackTwo;
    animation-duration:  13.5s;
    animation-fill-mode: forwards;   */

/* transform: scale(0.5,1.5);
transition: transform 5s; */
}

.bok{

  width: 160px;
  height: 100px;
  transform: rotateY(0deg);



}
.bok:hover{    
  width: 140px;
  animation-name:  Pspec;
  animation-duration:  1.5s;
  animation-iteration-count: infinite;

}
.bok > :first-child {
  background: #0d47a1aa;
  width: 140px;
  height: 150px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.Matixedit{
  width: 120px;
  height: 120px;
  transform: matrix(1.4, 0, 1, 1.2, 60, 10);
}